* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 200px;
}

.trybewarts-login {
  display: flex;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#evaluation-form h3 {
  text-align: center;
  margin: 8px;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.input-names {
  margin: 8px;
  padding: 8px;
}

.input-e-select {
  margin: 8px;
  padding: 8px;
}

hr {
  opacity: 40%;
  margin-top: 20px;
  width: 64%;
}

.footer {
  text-align: center;
  background-color: rgb(50, 167, 145);
  color: black;
  padding: 8px;
}
